* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: beige;
}

.form-container {
    background-color: white;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.result {
    background-color: rgb(164, 164, 164);
    border: none;
    resize: none;
    color: white;
    height: 130px;
}

.hidden {
    display: none;
}

.error {
    border-color: red;
}

.password-message {
    color: red;
}